:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  /* colors */

  /* rgb(15,11,30) */
  --black-purple: #0f0b1e;
  /* rgb(30,23,62) */
  --deep-purple: #1e173e;
  --deep-purple-disabled: #6f6a84;
  /* rgb(66,49,123) */
  --windsor: #42317b;
  /* rgb(62,117,230) */
  --bright-blue: #3e75e6;
  /* rgb(92,73,172) */
  --light-purple: #5c49ac;
  /* 	rgb(96,171,228) */
  --malibu: #60abe4;
  /* rgb(158,219,217) */
  --morning-glory: #9edbd9;
  /* rgb(244,169,92) */
  --sandy-brown: #f4a95c;
  /* 	rgb(240,195,167) */
  --desert-sand: #f0c3a7;
  /* rgb(229,242,248)  */
  --alice-blue: #e5f2f8;
  /* rgb(168,127,141) */
  --tapestry: #a87f8d;
  /* rgb(247, 136, 200) */
  --persian-pink: #f788c8;
  --barosa: #512d42;
  --dark-red: #c73e1d;
}
* {
  margin: 0;
  padding: 0;
}
